﻿@{
	ViewBag.Title = "Home Page";
}

<div class="row">
	<select id="method">
		<option value="get">GET</option>
		<option value="post">POST</option>
		<option value="put">PUT</option>
	</select>
	<input type="button" value="Try it" onclick="sendRequest()" />
</div>

<div class="row">
	<span id='value1'>(Result)</span>
</div>

@section scripts {
	<script>
		var serviceUrl = 'http://localhost:53482/api/featureflag';

		function sendRequest() {
			var method = $('#method').val();

			$.ajax({
				type: method,
				url: serviceUrl
			}).done(function (data) {
				$('#value1').text('');
				for (var i = 0; i < data.length; i++) {
					$('#value1').text($('#value1').text() + data[i].ID + ':' + data[i].Name);
				}
			}).error(function (jqXHR, textStatus, errorThrown) {
				$('#value1').text(jqXHR.responseText || textStatus);
			});
		}
	</script>
}